extends ../layout.pug

block content
  p Hello #{firstName} 👋
  br
  p Thank you for requesting to audition for the Amavi Chorale.  
  p We will be reaching out soon to schedule the audition.
  p Please prepare a 2-3 minute vocal number that demonstrates your vocal abilities and range.  
  p Please email me piano score in advance if you would like accompaniment.
  br 
  p Regards,
  p Amavi Chorale