extends ../layout.pug

block content
  p #{name} requests an opportunity to audition with the Amavi Chorale. 
  //- p #{preferredContactMethod} is their preferred method of contact
  p Email: #{email}
  p Phone: #{phone}
  br 
  p Regards,
  p Amavi Chorale Admin