extends ../layout.pug

block content
  p Hello #{name} 👋
  br
  p Thank you for requesting to audition for the Amavi Chorale.  
  p We have scheduled an audition appointment for you on #{date} at #{time} at #{location}.
  p Please warm up before arrival.  We look forward to hearing from you!
  br 
  p Regards,
  p Amavi Chorale