extends ../layout.pug

block content
  p Hello #{name} 👋
  br
  p Thank you for auditioning for the Amavi Chorale.  Unfortunately, we are unable to offer you a role in our choir because ... 
  p We encourage you to reach out to us if you have any questions.  
  p We look forward to a future audition and hope to see you at our performances.
  br 
  p Regards,
  p Amavi Chorale