extends ../layout.pug

block content
  p Hello #{firstName} 👋
  br
  p Congrats!
  p Amavi Chorale would like to invite you to participate in our choir. 🎉
  p Our website is www.amavichorale.org.  TODO Dues?  Dues are used for facility rental and provide all the music for our performances.  
  p Our practices are held...
  br
  p Anything they need to do before the first practice (confirm email, send a picture for the website and a bio)
  br
  p Welcome to the Amavi Chorale!